<form (ngSubmit)="onSubmit()">
	<fieldset>
		<legend>Create new sheet</legend>
		<label for="name">Name</label>
		<input id="name" type="text" [formControl]="name" placeholder="The Sheet Name" />

		<label for="clef">Clef</label>
		<select id="clef" [formControl]="clef">
			<option
				*ngFor="let c of clefList$ | async"
				[selected]="c.id == clef.value"
			>{{ c.id }}</option>
		</select>

		<label for="tempo">Tempo</label>
		<span class="short">
			<input  *ngIf="custom == true"  id="tempo" type="text" [formControl]="tempo" placeholder="Ex. {{ tempo.value }}" />
			<select *ngIf="custom == false" id="tempo" [formControl]="tempo">
				<option
					*ngFor="let t of tempoList$ | async"
					[selected]="t.stdTempo == tempo.value"
					value="{{ t.stdTempo }}"
					title="{{ t.desc }}"
				>{{ t.id }}</option>
			</select>
			Custom : <input type="checkbox" #customTempo value="0" (change)="custom = customTempo.checked; updateTempo();" />
		</span>

		<label for="key">Key Signature</label>
		<span>
			<select id="key" [formControl]="key" style="width : 64px">
				<option
					*ngFor="let k of keysList$ | async"
					[selected]="k.id == key.value"
					value="{{ k.id }}"
				>{{ minor ? k.minor : k.major }}</option>
			</select>
			Minor : <input type="checkbox" #showMinor value="0" (change)="minor = showMinor.checked" />
		</span>

		<label for="timeNum">Time Signature</label>
		<span class="fraction">
			<select id="timeNum" [formControl]="timeNum">
				<option
					*ngFor="let num of [2,3,4,6,7,8,9,10,11,12,13,14,15,16]"
					[selected]="num == timeNum.value"
				>{{ num }}</option>
			</select>
			/
			<select id="timeDen" [formControl]="timeDen">
				<option
					*ngFor="let num of [2,4,8,16]"
					[selected]="num == timeDen.value"
				>{{ num }}</option>
			</select>
		</span>

		<button type="submit">Submit</button>
	</fieldset>
</form>
