<form (ngSubmit)="onSubmit()">
	<fieldset>
		<legend>User Login</legend>

		<label for="username">Username</label>
		<input id="username" type="text" placeholder="Username" [formControl]="username" />
		<div *ngIf="usernameError != ''" class="error">{{ usernameError }}</div>

		<label for="password">Password</label>
		<input id="password" type="password" placeholder="Password" [formControl]="password" />
		<div *ngIf="passwordError != ''" class="error">{{ passwordError }}</div>

		<button type="submit">Login</button>
	</fieldset>
</form>
