$global-bg-colour: purple;
$global-fg-colour: yellow;
$header-bg-colour: blue;
$header-fg-colour: light-blue;
$error-bg-colour: red;
$error-fg-colour: white;
$warning-bg-colour: yellow;
$warning-fg-colour: black;
$success-bg-colour: green;
$success-fg-colour: black;
